.navBar{
     display:flex;
     flex-direction:column;
     
     list-style: none;
     width:300px;
     height:400px;
     justify-content: space-between;
     margin: 60px;
     margin-left:40px;
     
     padding:20px;
     /*background-color: brown;*/
     text-align: center;
}   
.navlistitem  {
 
     
  border: 2px solid rgb(61, 61, 59);
  border-radius:35px;
  background-color: rgb(199, 142, 110);
  height: 100px;
  width: 100px;
  padding: 10px;
  font-size: 25px;
  font-style: italic; 
  margin:40px;  
} 
.navHref{
  text-align: center;
  padding:20px 10px;
  text-decoration: none;

}
.headlinePrimary { 
  list-style: none;
  font-size: 20px; font-weight: 200; letter-spacing: 2px;
  text-align:center;
  width:600px;
  height:auto;
  margin-top: -100px;
  margin-left: 400px;
  margin-right: auto;
  /*background-color: coral;*/
}

@media screen  and (max-width:800px){
  
  .headlinePrimary{
    text-align: center; 
  }
  
  
  .navlistitem {
    
    height: 50px;
     width: 50x;
     font-size: 25px;

  }
}
@media screen  and (max-width: 400px){
  
    .headlinePrimary{
    
     margin-top:10px;
     margin-left: 40px;
     font-size:18px;
    }
    .navBar{
     display:inline-block;
     margin-left: 175px;
    
     margin-top: -10px;
    
    }
  .navlistitem{
    align-items: center;
    font-size: 25px;
    height: 40px;
    
  }
}




   
  